<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.james.animation" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.james.animation.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.james.animation.FrameAnimationActivity"
            android:label="@string/title_activity_frame_animation" >
        </activity>
        <activity
            android:name="com.james.animation.TweenAnimationActivity"
            android:label="@string/title_activity_tween_animation" >
        </activity>
        <activity
            android:name="com.james.animation.BouncingBallsActivity"
            android:label="@string/title_activity_bouncing_balls" >
        </activity>
        <activity
            android:name="com.james.animation.ObjectAnimatorActivity"
            android:label="@string/title_activity_object_animator" >
        </activity>
        <activity
            android:name="com.james.animation.ValueAnimatorActivity"
            android:label="@string/title_activity_value_animator" >
        </activity>
    </application>

</manifest>
